
      <%= f.label :first_name, '性' %>
      <%= f.text_field :name, class: 'form-control' %>
    
      <%= f.label :last_name, '名' %>
      <%= f.text_field :name, class: 'form-control' %>
    
      <%= f.label :email_address, 'メールアドレス' %>
      <%= f.text_field :email, class: 'form-control' %>
    
      <%= f.label :password, 'パスワード （半角6文字以上で英数字1文字以上含む必要があります。） '%>
      <%= f.password_field :password, class: 'form-control' %>
    
      <%= f.label :password_confirmation, 'パスワード確認' %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
    <%= f.submit '登録する', class: 'btn2' %>
    



<h1>Profiles#new</h1>
<p>Find me in app/views/profiles/new.html.erb</p>
