<div class="users-new-wrapper">
  <h1 class="text-title">ログイン</h1>
　  <%= form_for :session, url: login_path do |f| %>
    <div class="form-group">
      <%= f.label :email_address, 'メールアドレス' %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password, 'パスワード' %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <%= f.submit 'ログインする', class: 'btn2' %>
  <% end %>
  <div class="container">
    <p4 class="text-sub2">まだアカウントをお持ちではありませんか？</p4>
    <%= link_to '新規登録はこちら', new_user_path, class: 'text-white' %>
  </div>
</div>
